<?xml version="1.0"?>
<!DOCTYPE webaxn SYSTEM "i18n.dtd">
<widget version="1.0">
	<name>PRETUPS Transfer</name>
	<description>Transfer</description>
	<author>Comviva</author>
	<license>Comviva Technologies</license>
	<identifier>203139478</identifier>
	<type>2</type>
	<icon src="transfer.png"/>
	<content src="transfer.html" />
	<content bearer="2" src="transferUSSD.html"/>
	<x-title background="#788593" color="white" fontstyle="bold" fontsize="14"/>
	<x-scrollbar background="grey" color="#788593"/>
	<x-softkeystyle background="#788593" color="white" fontstyle="bold" fontsize="14"/>
	<x-menustyle background="white" color="black" onfocuscolor="white"/>	
	<x-selection onfocusbackground="#778899"/>
	<x-userdata-access>179878594</x-userdata-access>
	<x-userdata-access perm="3">979446865</x-userdata-access>
	<x-menugroup id="transfer">
		<!-- <x-menu caption="&pre.lsk.submit;" x-softkey="left" href="javascript:confirmMsg($mobilenu,$amount,$pin);"/> wgt:979446865/1.0/:mainMenu()-->
		<x-menu caption="&pre.rsk.back;" x-softkey="right" href="wgt:179878594/1.0/:displayMain();"/>
    	</x-menugroup>
	<x-menugroup id="confirmTransfer">
		<x-menu caption="&pre.lsk.confirm;" x-softkey="left" href="javascript:sendTransferReq($mobilenu,$amount,$tranid);"/>
		<x-menu caption="&pre.rsk.cancel;" x-softkey="right" href="#"/>
    	</x-menugroup>
    	<x-menugroup id="rechargeReq">			
		<x-menu caption="&pre.lsk.ok;" x-softkey="left" href="javascript:sendTransferReq();"/>
		<x-menu caption="&pre.rsk.cancel;" x-softkey="right" href="javascript:transfermenu();"/>
	</x-menugroup>
    <x-menugroup id="post">			
		<x-menu caption="&pre.lsk.ok;" x-softkey="right" href="#"/>
	</x-menugroup>
	<x-menugroup id="post1">			
		<x-menu caption="&pre.lsk.ok;" x-softkey="right" href="#"/>
	</x-menugroup>
	<x-menugroup id="post2">			
		<x-menu caption="&pre.lsk.ok;" x-softkey="right" href="#"/>
	</x-menugroup>
	<x-menugroup id="Menu">
        	<x-menu caption="&pre.lsk.select;" x-softkey="left" href="#"/>
		<x-menu caption="&pre.rsk.exit;" x-softkey="right" href="exit:"/>
    </x-menugroup>
	
</widget>

