<?xml version="1.0"?>
<!DOCTYPE webaxn SYSTEM "i18n.dtd">
<widget version="1.0">
	<name>PreTUPS xmlRequest</name>
	<description>PreTUPS xmlRequest</description>
	<author>Comviva</author>
	<license>Comviva Technologies</license>
	<identifier>950181717</identifier>
	<icon src="pretups.png"/>
	<content src="xmlRequest.html" />
	<content bearer="2" src="billpayUSSD.html"/>
	<x-title background="#788593" color="white" fontstyle="bold" fontsize="14"/>
	<x-scrollbar background="grey" color="#788593"/>
	<x-softkeystyle background="#788593" color="white" fontstyle="bold" fontsize="14"/>
	<x-menustyle background="white" color="black" onfocuscolor="white"/>	
	<x-selection onfocusbackground="#778899"/>
	<x-userdata-access>214807648</x-userdata-access>
	<x-userdata-access>264711061</x-userdata-access>
	<x-userdata-access>251238406</x-userdata-access>
	<x-userdata-access>252267641</x-userdata-access>
	<x-userdata-access>913980753</x-userdata-access>

	<x-menugroup id="homeAlert"> 
		 <x-menu caption="&pre.lsk.ok;" x-softkey="right"  href="wgt:264711061/1.0"/>
	</x-menugroup>
	<x-menugroup id="cardAlert"> 
		<!--  <x-menu caption="&pre.lsk.ok;" x-softkey="right"  href="wgt:950181717/1.0:sendviewCardReq($cvv,$nickName,$cardNum,$cardName,$cardType,$expiry,$newName)"/> -->
		<x-menu caption="&pre.lsk.ok;" x-softkey="right"  href="wgt:251238406/1.0:cards()"/>
	</x-menugroup>


</widget>

